@{
	ViewData["Title"] = "Projects";
}
<div id="projects" class="page">
    <div class="page-header">
        <h1>Projects</h1>
        <button type="button"
                class="btn"
                data-type="modal"
                data-target="#add-project-modal">
            <i class="fa-duotone fa-solid fa-plus"></i>
            <span>Add Project</span>
        </button>
    </div>
    <!-- projectlist -->
    <section class="project-list">
        <div class="project card" data-project-id="1">
            <div class="card-header">
                <div class="project-image">
                    <img src="images/project-image.svg" alt="template project" />
                </div>
                <H6 class="project-name">Website Design</H6>
                <span class="client-name">Git lab</span>
                <div id="project-actions-container">
                    <button type="button" data-type="dropdown" data-target="#project-dropdown-1" class="btn-action">
                        <i class="fa-duotone fa-solid fa-ellipsis"></i>
                    </button>
                    <div id="project-dropdown-1" class="dropdown">
                        <div class="dropdown-body">
                            <nav class="dropdown-actions">
                                <button data-type="modal" data-target="#edit-project-modal" class="dropdown-action">
                                    <i class="fa-duotone fa-solid fa-pen-to-square"></i>
                                    <span>Edit</span>
                                </button>
                                <button class="dropdown-action">
                                    <i class="fa-duotone fa-solid fa-user-plus"></i>
                                    <span>Add member</span>
                                </button>
                            </nav>
                            <div class="divider"></div>
                            <nav class="dropdown-actions">
                                <a class="dropdown-action remove" href="#">
                                    <i class="fa-duotone fa-solid fa-trash"></i>
                                    <span>Delete</span>
                                </a>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quasi, libero.
                </p>
            </div>
            <div class="card-fotter">
                <div class="badge badge-normal time">
                    <i class="fa-duotone fa-solid fa-clock"></i>
                    <span>1 week left</span>
                </div>
                <div class="members">
                    <div class="user-image">
                        <img src="images/profile-template-male.svg" alt="template project" />
                    </div>
                    <div class="user-image">
                        <img src="images/profile-template-male.svg" alt="template project" />
                    </div>
                </div>

            </div>
        </div>

    </section>
</div>

@await Html.PartialAsync("_AddProjectModalPartial")
@await Html.PartialAsync("_EditProjectModalPartial")