<aside id="sidebar">
    <section class="logotype">
        <a href="#">
            <img src="images/Logo-alpha.svg" alt="Logo alpha" />
            <span>alpha</span>
        </a>
    </section>
    <nav class="nav-links">
        <a class="nav-link active" href="projects.html">
            <i class="fa-duotone fa-solid fa-briefcase"></i>
            <span>Projects</span>
        </a>
        <a class="nav-link" href="clients.html">
            <i class="fa-duotone fa-solid fa-handshake"></i>
            <span>Clients</span>
        </a>
        <a class="nav-link" href="members.html">
            <i class="fa-duotone fa-solid fa-user-group"></i>
            <span>Members</span>
        </a>
    </nav>
</aside>